*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 190px;
    height: 100px;
}
body{
    margin: 5% 10% 0%;
}
h1{
    color: grey;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}
table{
    width: 100%;
    border-collapse: collapse;
   
}
table th{
    border: 1px solid black;
    
}
table tr:nth-child(even){
    background-color: white;

}
table tr:nth-child(odd){
    background-color: #E9ECEF;
}
table tr:nth-child(1){
    background-color: white;
    
}
a{
    text-decoration: none;
}
ol {
    margin-left:17.5px ;
}